services:
  minio:
    image: minio:2025.09.07T16.13.09Z
    container_name: minio
    build:
      context: ..
      dockerfile: docker/Dockerfile 
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=mini@123
    volumes:
      - ./data:/data
    restart: unless-stopped
